*{
    margin: 0;
    padding: 0;
}

/*
1st section
*/

.logo{
    width: 10%;
    display: block;
    margin: 0 auto;
}

.header{
    background-color:rgba(244, 244, 244, 1);
    padding: 40px 20px;
    flex-direction: row;
}

.header-pic{
    display: flex;
    margin: auto 600px;
    height: auto;
    max-width: 50%;
}

.header-text-para{
    position: relative;
    background: rgba(101, 117, 19, 1);
    width: 35%;
    padding: 25px 43px;
    margin-left: 100px;
    margin-top: -350px;
}

.header-title{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 40px;
    margin: 20px 0px;
}

.header-para{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 17px;
    margin: 10px 0px;
}

.header-button{
    appearance: none;
    padding: 10px 10px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0;
    margin-left: 360px;
}

/*
2nd section
*/

.menu-section__title{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    padding: 50px 0px;
    color: rgba(88, 96, 49, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    
}

.menu-section__para{
    text-align: center;
    color: rgba(125, 125, 125, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: -40px 300px;
}

.box-section{
    display: block;
    
    width: 85%;
    margin: 75px auto;
    
    background: rgba(244, 244, 244, 1);
    height: 300px;
}

.box-section__text{
    padding: 50px 0;
    line-height: 35px;
}

.box-section__title{
    color: rgba(91, 97, 63, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 100px;
}

.box-section__heading{
    color: rgba(137, 140, 123, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 100px;
}

.box-section__para{
    padding: 0px 100px;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(137, 140, 123, 1);
    line-height: 20px;
}

.box-section__btn{
    display: inline-block;
    background: rgba(103, 118, 25, 1);
    padding: 12px 10px;
    margin: 20px 510px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 16px;
}

.box-section__image{
    float: right;
    width: 30%;
    margin: -277px 94px;
}



/*
3rd section
*/

.contact-box{
    background: rgba(217, 217, 217, 1);
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    
}

.contact-box__img{
    width: 35%;
    padding: 49px 317px;
}

.contact-box-box{
    background: rgba(117, 130, 48, 1);
    padding: 23px 34px;
    margin: 17px 551px;
}

@media (max-width: 800px) {

    /* header logo */
    .logo{
        width: 10%;
        display: block;
        margin: 0 auto;
    }

    /*1st section*/
    


    /*2nd section*/
    .menu-section__para{
        margin: -46px 0px;
    }
    .menu-section__title{
        text-align: center;
        font-size: 28px;
    }    
    .box-section__title{
        padding: 0px 16px;
        line-height: 25px;
        text-align: center;
    }
    .box-section__heading{
        text-align: center;
    }
    .box-section__para{
        text-align: center;
        display: flex;
        padding: 0px 0px;
    }
    .box-section{
        height: auto;
    }
    .box-section__btn{
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }
    .box-section__image{
        display: inline;
        margin-top: 20px;

    }
    

  }