*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    width: 10%;
    display: block;
    margin: 0 auto;
}

/* 1st section */

.header{
    background-color:rgba(244, 244, 244, 1);
    padding: 40px 20px;

}

.header-pic{
    display: flex;
    margin: auto 600px;
    height: auto;
    max-width: 45%;
}

.header-text-para{
    position: relative;
    background: rgba(101, 117, 19, 1);
    width: 35%;
    padding: 25px 43px;
    margin-left: 100px;
    margin-top: -350px;
}

.header-title{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 40px;
    margin: 20px 0px;
}

.header-para{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 17px;
    margin: 10px 0px;
}

.header-button{
    appearance: none;
    padding: 10px 10px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0;
    margin-left: 360px;
}

/*
2nd section
*/

.menu-section__title{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    padding: 50px 0px;
    color: rgba(88, 96, 49, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    
}

.menu-section__para{
    text-align: center;
    color: rgba(125, 125, 125, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: -40px 300px;
}

.box-section{
    display: block;
    
    width: 85%;
    margin: 75px auto;
    
    background: rgba(244, 244, 244, 1);
    height: 300px;
}

.box-section__text{
    padding: 50px 0;
    line-height: 35px;
}

.box-section__title{
    color: rgba(91, 97, 63, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 100px;
}

.box-section__heading{
    color: rgba(137, 140, 123, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 100px;
}

.box-section__para{
    padding: 0px 100px;
    max-width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(137, 140, 123, 1);
    line-height: 20px;
}

.box-section__btn{
    display: inline-block;
    background: rgba(103, 118, 25, 1);
    padding: 12px 10px;
    margin: 20px 510px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 16px;
}

.box-section__image{
    float: right;
    width: 30%;
    margin: -230px 94px;

}



/*
3rd section
*/

.contact-box{
    display: flex;
    align-items: center;

    background: rgba(217, 217, 217, 1);
    /* width: 100%; */
    margin-top: 100px;
}

.contact-box__img{
    max-width: 35%;
    height: auto;
    padding: 49px 317px;

}

.contact-box-box{
    /* flex-direction: row; */
    background: rgba(117, 130, 48, 1);
    padding: 23px 34px;
    margin: 49px -289px;
}

.form-data{
    color: white;
    font-size: 14px;
}

.form-btn{
    background: white;
    border: none;
    margin: 8px 8px;
}

/* 4th section */

.footer{
    margin-top: 100px;
    background: rgba(117, 130, 48, 1);
    height: 500px;
    color: white;
    
}

.footer-logo{
    margin: 100px 400px;
    width: 10%;
    padding: 0px 20px;
}

.footer-info{
    margin: -80px 400px;
    line-height: 40px;
}

.footer-links{
    margin-top: -70px;
    margin: -160px 800px;
    line-height: 40px;    
}

.copyright{
    margin-top: 170px;
    text-align: center;
        
}

/*  --------------------MEDIA QUERIES--------------------  */

@media (max-width: 820px) {

    /* header logo */
    .logo{
        width: 30%;
        padding: 0px 0px;
        display: block;
        margin: 0 auto;
    }

    /*1st section*/

    .header{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .header-pic{
        width: 100%;
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
    
    .header-text-para{
        margin: 20px 20px;
        margin: 0 auto;
        text-align: center;
        height: auto;
    }
    
    .header-title{
        font-size: 20px;
        line-height: 24px;
    }
    
    .header-para{
        padding: 0px 0px;
    }
    
    .header-button{
        margin: 0 auto;
    }


    /*2nd section*/
    .menu-section__para{
        margin: -46px 0px;
    }
    .menu-section__title{
        display: flex;
        text-align: center;
        font-size: 28px;
    }    
    .box-section__title{
        padding: 0px 16px;
        line-height: 25px;
        text-align: center;
    }
    .box-section__heading{
        text-align: center;
    }
    .box-section__para{
        text-align: center;
        display: flex;
        padding: 0px 0px;
        max-width: 100%;
    }
    .box-section{
        height: 570px;
    }
    .box-section__btn{
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }
    .box-section__image{
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
    }
    
    /* 3rd section */

    .contact-box{

    }
    
    .contact-box__img{
        width: 100%;
        padding: 0px 0px;
        margin: 0 auto;
    }
    
    .contact-box-box{
        margin: 0px 0px;
        text-align: center;
    }

    /* 4th section */

    .footer{
        margin-top: 100px;
        text-align: center;
        height: 620px;
    }

    .footer-logo{
        margin-top: 30px;
        width: 30%;
        margin: 0 auto;
        padding: 50px 20px;
    }

    .footer-info{
        margin-top: 30px;
        margin: 0px 0px;
        line-height: 30px;
    }

    .footer-links{
        margin-top: 30px;
        margin: 0px 0px;
        line-height: 30px;
    }

    .copyright{
        text-align: center;
    }

  }

