body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
.body{
    position: relative;
    width: 1440px;
    height: 2889px;
    background-size: cover;    
    background: #FFFFFF;
}

.logo{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 631px;
    top: 1px;
    
    background: url(destined.jpg);    
}

.header{
    position: absolute;
    width: 1440px;
    height: 526px;
    left: 0px;
    top: 97px;
    background: #F4F4F4;
}

.header-pic{
    position: absolute;
    width: 798px;
    height: 465px;
    left: 496px;
    top: 26px;
    margin: 0;
    padding: 0;
    
    background: url(pic1.jpg);
}

.header-text-para{
    position: absolute;
    width: 555px;
    height: 306px;
    left: 144px;
    top: 124px;
    
    background: #657513;
}

.header-title{
    position: relative;
    width: 313px;
    height: 88px;
    left: 80px;
    top: 30px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFFFF;

}

.header-para{
    position: absolute;
    width: 428px;
    height: 91px;
    left: 75px;
    top: 140px;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
    
}

.header-button{
    position: absolute;
    width: 146px;
    height: 41px;
    left: 374px;
    top: 247px;
    
    background: #FEFEF8;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}


.menu-title{
    position: absolute;
    width: 577px;
    height: 39px;
    left: 431px;
    top: 682px;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #586031;
}

.menu-para{
    position: absolute;
    width: 736px;
    height: 49px;
    left: 352px;
    top: 734px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: #7D7D7D;
}

.box{
    position: absolute;
    width: 1143px;
    height: 322px;
    left: 148px;
    top: 845px;
    background: #F4F4F4;
}

.box-title{
    align-items: center;
    position: absolute;
    width: 446px;
    height: 61px;
    left: 125px;
    top: 35px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #5B613F;

}

.box-pic{
    position: absolute;
    width: 377px;
    height: 251px;
    left: 680px;
    top: 40px;;

    background: url(pic2.jpg);
}

.box-title-para{
    position: absolute;
    width: 93px;
    height: 17px;
    left: 125px;
    top: 122px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #898C7B;
}

.box-para{
    position: absolute;
    width: 481px;
    height: 54px;
    left: 125px;
    top: 160px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #6F6F6F;

}

.box-btn{
    position: absolute;
    width: 129px;
    height: 38px;
    left: 500px;
    top: 250px;

    background: #677619;
    border: none;
    color: white;
}

/* .box-two{
    position: absolute;
    width: 1143px;
    height: 322px;
    left: 148px;
    top: 1389px;

    background: #F4F4F4;
} */

.menu-title-two{
    position: absolute;
    width: 577px;
    height: 39px;
    left: 431px;
    top: 1226px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #586031;
}

.menu-para-two{
    position: absolute;
    width: 736px;
    height: 49px;
    left: 352px;
    top: 1278px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #7D7D7D;
}

.box-title-two{
    position: absolute;
    width: 446px;
    height: 61px;
    left: 662px;
    top: 1439px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #5B613F;
}

.box-title-para-two{
    position: absolute;
    width: 93px;
    height: 17px;
    left: 662px;
    top: 1526px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #898C7B;
}

.box-para-two{
    position: absolute;
    width: 481px;
    height: 54px;
    left: 658px;
    top: 1565px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #6F6F6F;
}

.box-pic-two{
    position: absolute;
    width: 377px;
    height: 251px;
    left: 249px;
    top: 1421px;

    background: url(pic2.jpg);
}

.box-btn-two{
    position: absolute;
    width: 129px;
    height: 38px;
    left: 956px;
    top: 1634px;

    background: #677619;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-title-three{
    position: absolute;
    width: 577px;
    height: 39px;
    left: 431px;
    top: 1764px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #586031;
}

.menu-para-three{
    position: absolute;
    width: 736px;
    height: 49px;
    left: 352px;
    top: 1816px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #7D7D7D;
}

.contact{
    position: absolute;
    width: 1440px;
    height: 497px;
    left: 0px;
    top: 1936px;
    
    background: #D9D9D9;    
}

.contact-img{
    position: absolute;
    width: 502px;
    height: 334px;
    left: 249px;
    top: 85px;

    background: url(pic3.jpg);
}

.contact-box{
    position: absolute;
    width: 238px;
    height: 334px;
    left: 786px;
    top: 85px;

    background: #758230;
}

.checkbox-box{

}

.form-data{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
}

.contact-submit-btn{
    background-color: white;
    border: none;
    color: black;
    margin-left: 120px;
    margin-top: 40px;
    cursor: pointer;
}

.footer{
    position: absolute;
    width: 1440px;
    height: 400px;
    top: 2500px;

    background: #758230;
}

.footer-img{
    position: absolute;
    width: 170px;
    height: 55px;
    left: 400px;
    top: 65px;

}

.footer-info{
    margin: 150px 400px;
    padding: 0px 0px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-links{
    margin: 50px 400px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.copyright{
    position: absolute;
    width: 253px;
    height: 35px;
    left: 550px;
    top: 320px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 119.52%;

}

@media (max-width: 800px) {
    body {
      width: 100%;
    }
  }

